.description {

   .container {
      @extend %container;
   }

   &__text {
      max-width: 430px;
      @include text(14px, 400, 20px, $textColor);
      margin-bottom: 30px;

      @media screen and (min-width: 576px) {
         max-width: 506px;
         @include text(18px, 400, 26px, $textColor);
      }
   }

   &__list {
      padding-bottom: 30px;
   }

   &__item {
      display: flex;
      align-items: center;
      margin-bottom: 22px;
      @include text(14px, 500, 20px, $textColor);
   }

   &__image {
      padding-right: 10px;
   }

   &__cup {
      padding-right: 12px;
   }

   &__feedback {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @media screen and (min-width: 576px) {
         display: flex;
         align-items: center;
      }
   }

   &__text-rating {
      margin-right: 14px;
   }

   &__rating {
      position: relative;
      display: flex;
      align-items: center;
      &::before {
         content: "";
         height: 1px;
         width: 290px;
         background: $secondaryColor;
         display: block;
         position: absolute;
         top: -14px;
         @media screen and (min-width: 576px) {
            width: 506px;
         }
         @media screen and (min-width: 768px) {
            width: 666px;
         }
         @media screen and (min-width: 1280px) {
            width: 569px;
         }
      }

      &::after {
         content: "";
         height: 1px;
         width: 290px;
         background: $secondaryColor;
         display: block;
         position: absolute;
         bottom: -14px;
         @media screen and (min-width: 576px) {
            width: 506px;
         }
         @media screen and (min-width: 768px) {
            width: 666px;
         }
         @media screen and (min-width: 1280px) {
            width: 569px;
         }
      }
   }

   &__text-rating {
      @include text(14px, 400, 20px, $textColor);
   }
}