.photoset {
   background-color: $primaryColor;

   .container {
      @extend %container;
   }

   &__inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   &__title {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 14px;
      @include text(28px, 400, 34px, $textColor);
   }

   &__video {
      max-height: 467px;
      max-width: 668px;
      width: 100%;
      object-fit: cover;
      margin-bottom: 30px;
   }

   
}