@import "./abstracts/vars";
@import "./abstracts/mixins";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
}

@import "./base/normalize";
@import "./header";
@import "./main-block";
@import "./photoset";
@import "./description";
@import "./gallery";
@import "./organizer";
@import "./shooting";
@import "./map";
@import "./result";
@import "./reviews";
@import "./footer";
